body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  text-align: center;
  background-color: #4CAF50;
  color: #fff;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

#my-title {
  font-size: 3rem;
  font-family: 'Arial', sans-serif;
}

#home p {
  font-size: 1.2em;
  margin: 0;
}

#home a {
  color: #8BC34A;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

#home a:hover {
  border-color: #8BC34A;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section {
  padding: 2rem;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

#about {
  text-align: center;
}

#about img {
  max-width: 100%;
  height: auto;
}

#tips {
  text-align: center;
  border: 1px solid #ddd;
}

.tip-card {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tip-card1 img {
  max-width: 25%;
  height: auto;
}

.tip-card2 img {
  max-width: 500%;
  height: auto;
}

#impact-story {
  text-align: center;
  border: 1px solid #ddd;
}

#impact-story {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

#impact-story img {
  max-width: 50%;
  height: auto;
}

#impact-story iframe {
  display: block;
  margin: 0 auto;
}

#impact-story a {
  text-decoration: none;
  color: black;
  display: block;
}

.petition {
  border: 1px solid #ddd;
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  transition: background-color 0.5s, color 0.5s;
}

#signatures,
#counter {
  width: 45%;
  padding-right: 10px;
}

.dark-mode .petition {
  background-color: black;
  color: white;
}

.petition h2 {
  font-size: 24px;
}

#sign-petition {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sign-petition label {
  font-weight: bold;
}

#sign-petition input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#sign-now-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.error {
  border: 2px solid red;
  background-color: pink;
  color: red;
}


footer {
  text-align: center;
  background-color: #4CAF50;
  color: #fff;
  padding: 1rem 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s;
}

footer a:hover {
  color: #333;
}

.dark-mode {
  background-color: black;
  color: white;
}

#theme-button {
  font-family: "Arial", sans-serif;
  color: #fff;
  padding: 10px 20px;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#theme-button:hover {
  background-color: darkgreen;
  color: #4CAF50;
}

.dark-mode section {
  background-color: black;
  color: white;
}

.dark-mode #impact-story {
  font-family: "Arial", sans-serif;
  color: #fff;
  padding: 10px 20px;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#reduce-motion-button {
  background: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.revealable {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.revealable.reduce-motion {
  transform: translateY(0);
  opacity: 1;
}

#reduce-motion-button:hover {
  background-color: darkgreen;
  color: #4CAF50;
}

#modal-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#close-modal-button {
  background-color: #4CAF50;
  /* Green background */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

#close-modal-button:hover {
  background-color: #2980b9;
}

/* the modal that covers the background and prevents user interactions */
.modal {
  display: none;
  /* hides the modal from view by default */
  position: fixed;
  /* keeps the modal in one place */
  z-index: 2;
  /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.8);
  /* Adjust the opacity as needed */
  flex-direction: column;
  /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

/* box that contains all the content and images */
.modal-content {
  background-color: lightsteelblue;
  /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex;
  /* adds flexbox to center all items */
  justify-content: center;
  align-items: center;
}


#thanks-modal-content {
  font-size: 2.5rem;
  /* Larger font size for the thank you message */
  margin-bottom: 20px;
  /* Add some space below the message */
}

#modal-image {
  max-width: 100%;
  /* Make sure the image doesn't exceed the container width */
  border-radius: 10px;
  /* Add rounded corners to the image */
}